@charset "UTF-8";

html {
  font-size: 62.5%; /* ルートのフォントサイズ10px */
  overflow: auto;
}

body {
  font-family: 'Yu Gothic', YuGothic, sans-serif;
  font-size: 1.6em; /* html要素で指定され font-sizeの1.6倍 = 16pxになる */
  line-height: 1;
  font-weight: normal;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #572B23;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tl-br, .sp-br {
  display: none;
}

/* ヘッダー */

header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 50;
  padding: 0 120px;
  opacity: 0.8;
  background: #fff;
}

/* ヘッダーロゴ */

header .site-title {
  font-family: Bad Script;
  font-size: 2em;
  font-weight: normal;
}

/* メニュー */

.nav-list {
  display: flex;
  text-align: center;
  position: absolute;
  top: 7px;
  right: 129px;
}

.list-item {
  margin-right: 40px;
}

.list-item:last-child {
  display: block;
  margin-right: 9px;
}

#contact a {
  color: #315611;
}

.nav-list li .en {
  display: block;
  font-family: Bad Script;
  font-size: 1.5em;
  margin: 9px 0 13px 0;
}

.nav-list li .ja {
  display: block;
  font-family: Sawarabi Gothic;
  font-size: 0.875em;
  margin-bottom: 7px;
}

.burger-btn{
	display: none;
}

.nav-link {
  position: relative;
  display: inline-block;
}

/* メニューホバー時下線 */

.nav-link::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #572B23;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}

.nav-link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

#contact .nav-link::after {
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #315611;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}

#contact .nav-link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* mv */

.mv {
  position: relative;
  max-width: 1366px;
  width: 100%;
  height: 768px;
  background-image: url(../images/top-image.png);
	background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  color: #583822;
}

.main-copy{
  width: 62.23%;
  height: 100px;
  position: absolute;
  top: 334px;
  left: 0;
  font-family: Bad Script; 
  font-size: 2.5em;
  line-height: 100px;
  color: #315611;
  background: #fff;
  opacity: 0.8;
}

.sub-copy {
  width: 39.02%;
  height: 60px;
  position: absolute;
  top: 458px;
  left: 0;
  font-family: Sawarabi Gothic;
  font-size: 1.5em;
  line-height: 60px;
  letter-spacing: 0.048em;
  color: #572B23;
  background: #fff;
  opacity: 0.8;
}

.btn {
  width: 200px;
  height: 56px;
  position: absolute;
  font-family: Bad Script;
  font-size: 1.44em;
  line-height: 56px;
  opacity: 0.8;
  border: double 4px #572B23;
  transition: 0.5s;
  padding: 0;
}

#contact-btn {
  top: 633px;
  left: 583px;
  color: #572B23;
  background: #fff;
  opacity: 0.8;
  border: double 4px #572B23;
}

#contact-btn:hover {
  background: #572B23;
  color: #fff;
  border: double 4px #fff;
}

/* contents base */

.module__title {
  font-family: Sawarabi Gothic;
  font-size: 2.25em;
  font-weight: normal;
  color: #572B23;
  margin-top: 2px;
  position: relative;
  z-index: 1;
}

.module__header span {
  display: block;
  position: absolute;
  font-family: Bad Script;
  font-size: 120px;
  font-weight: normal;
  line-height: 2;
  color: #F6F3EB;
  opacity: 0.8;
}

/* profile */

.profile {
  position: relative;
}

#profile .container {
  max-width: 989px;
  display: flex;
  margin: 0 auto;
}

#profile .img-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
  margin: 128px 88px 88px 0;
}

#profile .img-wrapper::before {
  position: absolute;
  top: -8px;
  left: -8px;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px #315611;
  z-index: -1;
}

#profile .img-wrapper::after {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px #315611;
  z-index: -1;
}

.p-r {
  position: absolute;
  top: 0;
  right: 0;
}

.p-l {
  position: absolute;
  bottom: 0;
  left: 0;
}

#profile .contents {
  margin-top: 120px;
}

.module__header {
  margin: 0 0 50px;
}

#profile .module__header span {
  width: 289px;
  height: 237px;
  top: 0px;
  right: 40px;
}

.profile-text {
  font-family: Sawarabi Gothic;
  font-size: 1.125em;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.036em;
  color: #572B23;
}

#instagram-btn, #twitter-btn {
  color: #315611;
  background: #fff;
  opacity: 0.8;
  border: double 4px #315611;
  transition: 0.5s;
  text-align: center;
  margin-top: 40px;
}

#twitter-btn {
  margin-left: 240px;
}

#instagram-btn:hover, #twitter-btn:hover  {
  background: #315611;
  color: #fff;
  border: double 4px #fff;
}

/* works */

.works-wrapper {
  position: relative;
  background-color: #F9F9F9;
}

#works .container {
  max-width: 898px;
  height: 1083px;
  position: relative;
  margin: 0 auto;
}

#works .contents-wrapper {
  height: 224px;
  display: flex;
  margin-bottom: 57px;
}

#c .contents-wrapper {
  margin-bottom: 80px;
}

#works .module__header {
  padding-top: 120px;
  margin-bottom: 56px;
  text-align: center;
}

#works .module__header span {
  width: 270px;
  height: 237px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#works .img-wrapper {
  width: 350px;
  height: 200px;
  position: relative;
  margin-right: 48px;
}

.works-img {
  position: relative;
  z-index: 30;
  margin: 8px 0 0 8px;
}

#works .img-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px #315611;
}

#works .img-wrapper::after {
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px #315611;
}

.sub-title {
  font-family: Sawarabi Gothic;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.47;
  color: #572B23;
  margin-bottom: 16px;
}

.text {
  font-family: Sawarabi Gothic;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.032em;
  color: #572B23;
  margin-bottom: 16px;
}

.mini-btn {
  width: 128px;
  height: 48px;
  position: absolute;
  right: 0;
  font-family: Sawarabi Gothic;
  font-size: 0.875em;
  line-height: 40px;
  opacity: 0.8;
  border: double 4px #315611;
  color: #315611;
  transition: 0.5s;
  padding: 0;
  text-align: center;
}

.mini-btn:hover {
  background: #315611;
  color: #fff;
  border: double 4px #fff;
}

.w-r {
  position: absolute;
  top: 0;
  left: 0;
}

.w-l {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* skill */

.skill-wrapper {
  position: relative;
}

#skill .container {
  max-width: 1054px;
  height: 520px;
  display: flex;
  margin: 0 auto;
}

#skill .contents {
  width: 506px;
  margin: 120px 80px 0 0;
}

#skill .module__header span {
  width: 209px;
  height: 237px;
  top: 0px;
  left: 40px;
  line-height: 1.98;
}

.skill-contents-wrapper {
  display: flex;
  margin-top: 120px;
}

.skill-img {
  margin-right: 16px;
}

ul.skill-list{
  padding: 0;
  width:120px;
  list-style: none;
}

ul.skill-list li{
  position: relative;
  padding-left: 28px;
  font-family: Sawarabi Gothic;
  font-size: 1.125em;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.036em;
  color: #572B23;
}

ul.skill-list li:before{
  content: "";
  position: absolute;
}

ul.skill-list li:before{
  top: 0.55em;
  left: 0.2em;
  width: 16px;
  height: 16px;
  border:1px solid #315611;
}

/* contact */

.contact-wrapper {
  position: relative;
  background-color: #F9F9F9;
}

#contact2 .container {
  max-width: 898px;
  height: 939px;
  position: relative;
  margin: 0 auto;
}

#contact2 .module__header {
  padding-top: 120px;
  margin-bottom: 56px;
  text-align: center;
}

#contact2 .module__header span {
  width: 334px;
  height: 237px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#contact2 .contents-wrapper {
  display: block;
  width: 750px;
  height: 520px;
  position: relative;
  margin: 0 auto;
}

.mail-square {
  width: 750px;
  height: 520px;
  border: 1px solid #315611;
}

.mail-triangle {
  width: 749px;
  height: 160px;
  border-top: 160px solid #315611;
  border-left: 374.5px solid transparent;
  border-right: 374.5px solid transparent;
  position: absolute;
  top: 0px;
}

.form {
  width: 653px;
  height: 248px;
  display: flex;
  position: absolute;
  top: 200px;
  left: 49px;
  font-family: Bad Script;
  font-size: 1em;
  color: #572B23;
  margin-bottom: 60px;
}

input::placeholder, textarea::placeholder {
  font-family: Bad Script;
  font-size: 1em;
  color: #315611;
  padding-left: 4px;
}

form .item {
  margin-bottom: 25px;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  width: 300px;
  height: 160px;
  border-radius: 0;
  border: 1px solid #572B23;
  background-color: transparent;
  resize: none;
  margin-top: 8px;
}

.text_underline {
  position: relative;
  width: 300px;
  border-top: 1px solid #572B23;
}

.form-item1 {
  margin-right: 53px;
}

#submit-btn {
  top: 803px;
  left: 349px;
  color: #572B23;
  background: #fff;
  opacity: 0.8;
  border: double 4px #572B23;
  text-align: center;
}

#submit-btn:hover {
  background: #572B23;
  color: #fff;
  border: double 4px #fff;
}

.footer-wrapper {
  position: relative;
  height: 154px;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-top: 40px;
}

.icon-item {
  font-size: 1.875em;
  margin-right: 16px;
  color: #572B23;
}

.icon-item:hover {
  position: relative;
  top: -3px;
}

small {
  font-family: Bad Script;
  font-size: 1.125em;
  line-height: 2;
  letter-spacing: 0.036em;
  margin-bottom: 24px;
  color: #572B23;
}

footer p {
  color: #572B23;
}



